body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #000000, #1a1a1a);
    color: #fbfbfb;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Tarjetas de información */
.info-psicologo-paciente, .fecha-hora {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(255, 102, 0, 0.4);
    border: 1px solid #ff6600;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    transition: transform 0.3s;
}

/* Preguntas */
.preguntas h4 {
    color: #ff6600;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 0 4px rgba(255, 102, 0, 0.3);
}

.preguntas p {
    color: #eeeeee;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff6600;
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Video */
#videoStream {
    border-radius: 10px;
    max-width: 640px;
    width: 100%;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 0 12px rgba(255, 102, 0, 0.4);
}

/* Botón finalizar */
#startSession {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

#startSession:hover {
    background-color: #cc5200;
}

/* Botones de respuesta */
.btn-kolping {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-kolping:hover {
    background-color: #cc5200;
}

.btn-kolping-secundario {
    background-color: #444;
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid #999;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

.btn-kolping-secundario:hover {
    background-color: #666;
}

/* Hover tarjetas */
.info-psicologo-paciente:hover,
.preguntas:hover,
.fecha-hora:hover {
    transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .info-psicologo-paciente, .fecha-hora, .preguntas, #videoStream {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
}
