body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: #000000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  display: block;
  color: #ffffff;
  padding: 20px 0;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ff6600; /* Color naranja Kolping */
  text-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600; /* Efecto neón naranja */
}

.logout-button {
  background: none;
  border: none;
  color: #ffffff;
  padding: 20px 0;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logout-button:hover {
  color: #ff6600; /* Naranja Kolping */
  text-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  nav ul li {
      width: 100%;
  }

  nav ul li a {
      padding: 15px;
      font-size: 18px;
  }
}

main {
  padding-top: 80px; /* Ajusta esto según la altura de tu barra de navegación */
}
